<link href="https://webitcloud.net/PW/1617/RMR/Model/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://webitcloud.net/PW/1617/RMR/Model/stylesheets/prettyPhoto.css" rel="stylesheet">
<link href="https://webitcloud.net/PW/1617/RMR/Model/stylesheets/style.css" rel="stylesheet">
<link href="https://webitcloud.net/PW/1617/RMR/Model/stylesheets/dark.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link rel="icon" href="https://webitcloud.net/PW/1617/RMR/Views/images/FavIcon.png">
<link rel="shortcut icon" href="https://webitcloud.net/PW/1617/RMR/Views/images/FavIcon.png">
<link rel="manifest" href="https://api.myjson.com/bins/16e4s3">


<script src="https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src='https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/jquery.easing.min.js' type='text/javascript'></script>
<script src='https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/jquery.mixitup.min.js' type='text/javascript'></script>
<script src='https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/jquery.nicescroll.min.js' type='text/javascript'></script>
<script src='https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/jquery.prettyPhoto.js' type='text/javascript'></script>
<script src="https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/bootstrap.js" type="text/javascript"></script>
<script src="https://webitcloud.net/PW/1617/RMR/Model/javascripts/functions.js" type="text/javascript"></script>
<script></script>

<div class="navbar navbar-inverse navbar-fixed-top scrollclass">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a id="homeBtn" href="https://wcomunic.herokuapp.com/#home-sec" class="navbar-brand"><img src="https://webitcloud.net/PW/1617/RMR/Views/images/LogoTlm.png" height="30" width="30" class="img-responsive"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://wcomunic.herokuapp.com/#destaques-sec">Destaques</a></li>
        <li><a href="https://wcomunic.herokuapp.com/#pacotes-sec">Pacotes</a></li>
        <li><a href="https://wcomunic.herokuapp.com/#info-secc">Informações</a></li>
        <li id="refreshPNum" class="dropdown" id="dropdownMenu"><a data-toggle="dropdown" class="dropdown-toggle">Entrar<b class="caret"></b></a>
          <ul style="padding: 15px;min-width: 250px;" class="dropdown-menu">
            <li>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="changeUp">

                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END NAB BAR SECTION-->
<div id="home-sec" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <div class="overlay">
    <div class="container">
      <div class="col-md-8 col-xs-8 col-lg-8 col-sm-8 pad-top scrollclass">
        <h1><strong>
                <mark>WebComunic</mark>
                <h2></h2>Connect Yourself</strong></h1>
        <p>Todos os pacotes do mercado reunidos num só lugar.</p>
        <p>Descontos eletricamente apelativos.</p>
        <p>Fácil pesquisa por contéudo, preço ou localidade</p>
        <p>Satisfação Máxima.</p><a id="pacotesbtn" href="https://wcomunic.herokuapp.com/#pacotes-sec" color="red" background-color="white"
          class="btn btn-danger btn-lg btn-home">Ver Pacotes<i class="fa fa-toggle-on"></i></a>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</div>
<section id="Perfil-sec">
  <div class="container">
    <div class="row text-center min-set">
      <div class="col-md-12">
        <h2>
          Dados do
          <mark class="head-glow">Pacote </mark>
        </h2>
        <hr class="sub-hr">
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <img alt="Bootstrap Image Preview" src="https://webitcloud.net/PW/1617/RMR/Views/images/Pacotes/{{data.Foto}}" height="200"
                width="200" />
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <h1 id="nome_pacote">
                Nome: <b>{{data.Nome_Pacote}}</b>
              </h1>
              <h3 id="fornecedor">
                Fornecedor: <b>{{data.Fornecedor_Pacote}}</b>
              </h3>
              <h3 id="televisao">
                Televisão: <b>{{data.Televisao}}</b>
              </h3>
              <h3 id="internet">
                Internet: <b>{{data.Internet}}</b>
              </h3>
              <h3 id="netmovel">
                Net móvel: <b>{{data.Internet_Telemovel}}</b>
              </h3>
              <h3 id="tarifario">
                Tarifário: <b>{{data.Telefone}}</b>
              </h3>
              <h3 id="extras">
                Extras: <b>{{data.Extras}}</b>
              </h3>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <h1 id="preco_pacote">
                Preco: <b>{{data.Preco_Pacote}} p/mês</b>
              </h1>
              <h1 id="preco_pacote">
                <form id='compra' role='form' method='POST' action='/comprar' accept-charset='UTF-8' class='form'>
                  <div class="form-group">
                    <h3>
                      <input type="button" id="loadFile" value="Confirmar compra">
                      <br> ID do Utilizador</b>
                    </h3>
                    <input id="userBuy" readonly type="userBuy" value="" required="" class="form-control" name="userBuy">
                  </div>
                  <div class="form-group">
                    <h3>
                      ID do Pacote</b>
                    </h3>
                    <input id="productBuy" type="productBuy" readonly value="{{data.idPacotes}}" type="hidden" placeholder="Meta a palavra-passe"
                      required="" class="form-control" name="productBuy">
                  </div>

                  <div class='form-group'>
                    <button id='botaoComprarProd' class='btn btn-danger btn-block'>Comprar pacote</button>
                  </div>
                </form>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END FEATURES SECTION-->
<div id="just-sec" style="">
  <div class="overlay">Um dos melhores Pacotes</div>
</div>
<!-- END GALLERY  SECTION-->
<section id="info-sec">
  <div class="container">
    <div class="row text-center min-set">
      <div class="col-md-12">
        <h2>
          <mark class="head-glow">MAIS </mark> INFORMAÇÕES
        </h2>
        <hr class="sub-hr">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-center"></div>
      <div class="col-md-4 text-center">
        <h3>Sobre a
          <mark class="head-glow">WebComunic</mark>
        </h3>
        <hr class="sub-hr">
        <form id="disclaimerForm" action="/disclaimer" method='POST' role="form" accept-charset="UTF-8" class="form">
          <div class="row">
            <div class="col-md-12 form-group">
              <button id="botaoDisclaimer" class="btn btn-warning btn-block">Agradecimentos e Disclaimer</button>
            </div>
          </div>
        </form>
        <form action="http://webitcloud.net/PW/1617/RMR/Externos/Manual-de-Utilizador-WebComunic-Projeto-II.pdf">
          <div class="row">
            <div class="col-md-12 form-group">
              <button id="botaoDoc" class="btn btn-warning btn-block">Manual de Utilizador</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4 text-center">
        <h3>Mais
          <mark class="head-glow">Informações</mark>
        </h3>
        <hr class="sub-hr">
        <form id="lojasForm" action="/lojas" method='POST' role="form" accept-charset="UTF-8" class="form">
          <div class="row">
            <div class="col-md-12 form-group">
              <button id="botaoLojas" class="btn btn-warning btn-block">Lojas</button>
            </div>
          </div>
        </form>
        <form id="contactosForm" action="/contactos" method='POST' role="form" accept-charset="UTF-8" class="form">
          <div class="row">
            <div class="col-md-12 form-group">
              <button id="botaoContactos" class="btn btn-warning btn-block">Contactos</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2 text-center"></div>
    </div>
  </div>
</section>